---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPostItem from '../../components/BlogPostItem.astro';

export async function getStaticPaths() {
  const allPosts = Object.values(import.meta.glob('../frammenti/*.md', { eager: true }));
  const uniqueArtists = [...new Set(allPosts.map((post: any) => post.frontmatter.artists).flat())];
  
  return uniqueArtists.map((artist) => {
    const filteredPosts = allPosts.filter((post: any) => post.frontmatter.artists.includes(artist));
    return {
      params: { artist },
      props: { posts: filteredPosts },
    };
  });
}

const { artist } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={artist}>
  <p>Frammenti sonorizzati da {artist}</p>
  <ul>
    {posts.map((post: any) => <BlogPostItem url={post.url} title={post.frontmatter.intro.name}/>)}
  </ul>
</BaseLayout>