---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('../frammenti/*.md', { eager: true }));
const artists = [...new Set(allPosts.map((post: any) => post.frontmatter.artists).flat().sort())];
const title = "Cerca per band/artista";
---
<BaseLayout title={title}>
  <div class="tags">
    {artists.map((artist) => (
      <p class="tag"><a href={`/musica/${artist}`}>{artist}</a></p>
    ))}
  </div>
</BaseLayout>
<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>