---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "Di cosa si tratta";
---

<BaseLayout title={title}>
  <p>Frammenti inconsapevoli, pagine di ricordi strappati, immagini rimaste impresse nella retina, melodie ricorrenti e diarismi inutili. Parole povere, flash innocui e pensieri campionati: tutti, involontariamente, perduti. Nessun riferimento a persone realmente esistenti o fatti realmente accaduti: proprio come nei film, solo che questi son pezzi di vita incapaci di ingoiare pezzi di musica, pezzi di qualcosa che non si riescono a ricomporre, perchè manca il finale, e non torna mai niente.</p>
</BaseLayout>
