---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "Frammenti campionati";
---
<BaseLayout title={title}>
  <p>Tutti i frammenti:</p>
		<ul>
      <li><a href="/posts/cio-che-mi-spezza/">Ciò che mi spezza</a></li>
			<li><a href="/posts/ex-toy/">Ex-toy</a></li>
			<li><a href="/posts/interraid/">Interraid</a></li>
    </ul>
</BaseLayout>
