---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "Frammenti campionati";
const abstract = "Frammenti inconsapevoli, pagine di ricordi strappati, immagini rimaste impresse nella retina, melodie ricorrenti e diarismi inutili. Parole povere, flash innocui e pensieri campionati: tutti, involontariamente, perduti. Nessun riferimento a persone realmente esistenti o fatti realmente accaduti: proprio come nei film, solo che questi son pezzi di vita incapaci di ingoiare brandelli di musica, ritagli di qualcosa che non si riesce a ricomporre, perché manca il finale, e non torna mai niente.";
---
<BaseLayout title={title} abstract={abstract}>

<!-- Main Content -->
<main class="bg-white max-w-3xl mx-auto border border-zinc-200 p-8 mt-4">
		<h2 class="text-2xl font-semibold mb-4">Main Content</h2>
		<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et velit vitae ligula vestibulum gravida non id augue.</p>
		<p class="mb-4">Donec tincidunt, lectus at aliquet facilisis, lorem nisl convallis quam, ut efficitur justo dolor et nulla.</p>
		<p class="mb-4">Nam scelerisque velit ut elit tristique, sed aliquet augue accumsan.</p>
		<p class="mb-4">Vivamus sagittis mi id ligula consectetur, id facilisis odio rhoncus.</p>
		<p class="mb-4">Proin tempor urna vel eros facilisis, eget varius orci suscipit.</p>
		<p class="mb-4">Curabitur posuere neque id massa tincidunt, sed luctus sapien ultricies.</p>
		<p class="mb-4">Nullam at leo vel eros malesuada laoreet nec ac mauris.</p>
		<p class="mb-4">Morbi malesuada quam nec metus cursus, ac feugiat orci malesuada.</p>
		<p class="mb-4">Duis eget erat non nulla gravida fringilla et at arcu.</p>
		<p class="mb-4">Aliquam erat volutpat. In quis malesuada nunc.</p>
		<p class="mb-4">Etiam tincidunt purus nec mi condimentum, vel dignissim dolor ultricies.</p>
		<p class="mb-4">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
		<p class="mb-4">Integer in dapibus metus.</p>
		<p class="mb-4">Etiam id orci vitae urna sagittis venenatis a et tortor.</p>
		<p class="mb-4">Curabitur congue nisi in nulla convallis, nec sagittis lorem faucibus.</p>
		<p class="mb-4">Donec ultricies dolor nec tincidunt efficitur.</p>
		<p class="mb-4">Nunc malesuada, lorem nec lacinia pharetra, ex mi viverra nisl.</p>
		<p class="mb-4">Sit amet vehicula augue mi a arcu.</p>
</main>
</BaseLayout>
