---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "Frammenti campionati";
---
<BaseLayout title={title}>
  <h2>
		Frammenti inconsapevoli, pagine di ricordi strappati, immagini rimaste impresse nella retina, melodie ricorrenti e diarismi inutili.
	</h2>
</BaseLayout>
