---

---
<!--Youtube-->
<div id="player" style="display: none; visibility: hidden;"></div>
    
<!--Player-->
<div class="audio-player">
    <div class="player-controls">
        <div id="radioIcon"></div>
        <button id="playAudio"></button>
        <div id="seekObjContainer">
            <div id="seekObj">
                <div id="percentage"></div>
            </div>
        </div>
        <p><small id="currentTime">00:00</small></p>
    </div>
</div>