---
import Social from './Social.astro';
---
<!-- Footer -->
<footer class="bg-gray-200 w-full border-t border-gray-300 mt-8 py-4 px-8 flex justify-between text-sm">
  <p>Parole & Musica &copy; 2006 &#8594; <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script></p>
  <div class="space-x-4">
    <Social platform="twitter" url="https://twitter.com/spineless_laugh" />
    <Social platform="email" url="mailto:info@spineless.it" />
    <Social platform="rss" url="/rss.xml" />
  </div>
</footer>