---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '../styles/player.css';

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate" type="application/rss+xml" title="Your Site's Title" href={new URL("rss.xml", Astro.site)}
    />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Parole & Musica | {title}</title>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="../scripts/player.js"></script>
    <script>
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '360',
          width: '640',
          videoId: '9kWgvEKIo4c',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }
  </script>
	</head>
	<body>
		<Header />
		<h1>{title}</h1>
		<slot />
		<Footer />
		<script>
			import "../scripts/menu.js";
      import "../scripts/player.js";
      import "https://www.youtube.com/iframe_api"
		</script>
	</body>
</html>
